.bg-black {
  background-color: #101010;
}

.logo {
  width: 35px;
  height: 35px;
}

.nav {
  display: none;
}

.btn-login {
  background-color: orange;
  font-weight: bold;
}

.inline-block a{
  display: inline-block;
}

.inline-block a:nth-of-type(2) {
  position: relative;
  left: -1.5rem;
  font-size: 12px;
}

.inline-block a:nth-of-type(1) {
  position: relative;
  left: -3rem;
  
}

.orange {
  color: orange;
}

.btn-invest {
  background-color: orange;
  font-weight: bold;
  width: 10rem;
}
.btn-learn {
  background-color: #212221;
  color: white;
  display: block;
  position: relative;
}


header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3)!important;
  
}
.main {
  margin-top: 3rem;
}

.main-text {
  color: grey;
  font-size: 1rem;
  margin-top: 1rem;
}

.main-header {
  font-size: 2rem;
}

.utp-up {
   position: relative;
   top: -0.78rem;
}
.description {
  color: grey;
}

.text {
  color: grey;
}

.sm {
  font-size: 0.80rem;
}

.bg-warning-transparent {
  background-color: rgba(255, 193, 7, 0.4); /* Bootstrap warning color with transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 0.5rem;
  display: block;
  width: 3rem;
  text-align: center;
}

.myround {
  border-radius: 5%;
}

/* Set placeholder text to white */
::placeholder {
  color: white;
  opacity: 1; /* ensures full visibility */
}

/* For better compatibility with input/textarea fields */
input::placeholder,
textarea::placeholder {
  color: white;
}

ul > li {
  list-style: none;
  position: relative;
  left: -1.7rem;
}
.footer-adjust {
  padding: 0.5rem;
}
.w-md-25 {
  width: 50%;
}

h1, h2, h5, h3{
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}
.rates {
  padding: 0.2rem;
}
.main-containers {
  padding: 1rem;
}

.font {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #d1d1d1;
}
.fs-0 {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .w-md-25 { 
    width: 25%; 
  }
  .fs-0 {
  font-size: 2.5rem;
}
  .main-header {
    font-size: 3.8rem;
  }
  .sm {
    font-size: 1rem;
  }
}