.bg-black {
  background-color: #101010;
}

.logo {
  width: 35px;
  height: 35px;
}

.nav {
  display: none;
}

.btn-login {
  background-color: orange;
  font-weight: bold;
}

.inline-block a{
  display: inline-block;
}

.inline-block a:nth-of-type(2) {
  position: relative;
  left: -1.5rem;
  font-size: 12px;
}

.inline-block a:nth-of-type(1) {
  position: relative;
  left: -3rem;
  
}

.orange {
  color: orange;
}

.btn-invest {
  background-color: orange;
  font-weight: bold;
  width: 10rem;
}
.btn-learn {
  background-color: #212221;
  color: white;
  width: 10rem;
  position: relative;
  left: 0.5rem;
}

header {
  background-color: #101010!important;
  backdrop-filter: blur(10px);       /* 👈 This blurs the background behind */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  background-color: rgba(0, 0, 0, 0.3);
  
}

.main {
  margin-top: 5rem;
}

.main-text {
  color: lightgrey;
}

.main-header {
  font-size: 2rem;
}

.utp-up {
   position: relative;
   top: -0.78rem;
}
.description {
  color: grey;
}

.text {
  color: grey;
}

.sm {
  font-size: 0.80rem;
}

.bg-warning-transparent {
  background-color: rgba(255, 193, 7, 0.4); /* Bootstrap warning color with transparency */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 0.5rem;
  display: block;
  width: 3rem;
  text-align: center;
}

.myround {
  border-radius: 5%;
}

/* Set placeholder text to white */
::placeholder {
  color: white;
  opacity: 1; /* ensures full visibility */
}

/* For better compatibility with input/textarea fields */
input::placeholder,
textarea::placeholder {
  color: white;
}

ul > li {
  list-style: none;
  position: relative;
  left: -1.7rem;
}